/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*BODY*/

.body_init {
  display: grid;
  grid-template-rows: [fila-1] 100px [fila-2] auto [fila-3] 132px [fila-4];
  background-color: #fbfafa;
}

#root {
  font-family: Barlow;
}

span {
  display: block;
}

/*TITULOS*/

h1,h2,h3,h4 {
  font-family: "industry",sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: 0.5em 0 0.5em 0;
}

/*ANIMACIONES*/

/* Estado base para todos los elementos a animar */
.animar-base {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform; /* Optimización de rendimiento */
}

/* Cuando entra en pantalla, se vuelve visible y va a su posición original */
.animar-base.mostrar {
  opacity: 1;
  transform: translate(0) scale(1);
}

/* --- Diferentes Efectos --- */

/* 1. Desde abajo (Por defecto) */
.fade-up {
  transform: translateY(50px);
}

.fade-left {
  transform: translateX(-40px);
}

.fade-right {
  transform: translateX(40px);
}

.zoom-in {
  transform: scale(0.8);
}

/*SERVICE*/

.div-service {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  align-items: center;
}

.service-img {
  width: 180px;
  height: 170px;
  object-fit: cover;
}

.service-name {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.service-desc {
  font-size: 1.1rem;
  text-align: center;
}

/*CARD*/

.card-s {
  height: 200px;
  width: 180px;
  border-radius: 15px;
  margin: auto;
  display: grid;
  grid-template-rows: 170px auto;
  cursor: pointer;
}

.card-s:hover .card-p {
  background-color: #fbfafa;
  color: #011337;
}

.card-img {
  object-fit: cover;
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-p {
  background-color: #011337;
  text-align: center;
  font-weight: 500;
  color: #fbfafa;
  padding: 0.5em 0;
  margin: 0;
  border-radius: 0 0 15px 15px;
  transition: 0.3s all;
}

/*BOTON*/

.btn_schedule {
  display: inline-block;
  padding: 1em .75rem;
  border-radius: 10px;
  word-break: break-word;
  width: 12em;
  border: 0;
  color: #011337;
  font-size: 1.2rem;
  letter-spacing: .10rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
  z-index: 1;
}

.btn_schedule a {
  text-decoration: none;
  color: #011337;
}

.btn_schedule:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FB4E02;
    border-radius: 10px;
    z-index: -2;
}

.btn_schedule:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a93300;
    transition: all .3s;
    border-radius: 10px;
    z-index: -1;
}

.icon-phone {
  color: #011337;
}

.btn_schedule a {
  transition: all .3s;
}

.btn_schedule:hover a {
  color: #fbfafa;
}

.btn_schedule:hover:before {
  width: 100%;
}

/*CONTACTO*/

  .main-contact {
    border-radius: 10px;
    padding-top: 5px;
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: #FB4E02;
  }

  .main-contact h1 {
    margin: 0.5em 0 0 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #fbfafa;
  }

  .form-contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    padding: 1em;
    color: #fbfafa;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: span 4;
  }

  .form-group input,textarea,select {
    border: 1px solid #0113378f;
    color: #FB4E02;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1rem;
  }

  .d-textarea textarea {
    resize: none;
    height: 3em;
    font-family: Barlow;
  }

  .submit-contact {
    font-size: 1.2rem;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fbfafa;
    color: #FB4E02;
    margin-top: 0.7em;
    grid-column: 2 / span 2;
    transition: all 0.3s;
  }

  .submit-contact:hover {
    background-color: #011337;
  }


/*MEDIA QUERYS*/

@media screen and (min-width: 800px) {

  span {
    display: inline;
  }

  /*SERVICES*/

  .div-service {
    gap: 1em;
    flex-direction: row;
  }

  .service-col {
    grid-column: span 2;
  }

  .service-col:nth-child(2n) {
    grid-column: 2 / span 2;
  }

  .service-col:nth-child(2n) .div-service {
    flex-direction: row-reverse;
  }

  .service-col:nth-child(2n) .div-service .service-name {
    text-align: end;
  }

  .service-name {
    font-size: 1.6rem;
    text-align: start;
  }

  .service-desc {
    font-size: 1.3rem;
    text-align: start;
  }

  .service-img {
    width: 200px;
    height: 170px;
  }

  /*BOTON*/

  .btn_schedule {
    font-size: 1.4rem;
  }

  /*CARDS*/

  .card-s {
    width: 250px;
  }

  .card-p {
    font-size: 1.4rem;
  }

  /*CONTACT*/

  .main-contact {
    max-width: 550px;
  }

  .main-contact h1 {
    font-size: 2rem;
  }

  .form-contact {
    font-size: 1.3rem;
    margin: 0 auto 0 auto;
  }

  .form-group {
    grid-column: span 2;
  }

  .d-textarea {
    height: 5em;
    grid-column: span 4;
  }
 
}