/*FOOTER*/

.footer {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, #FB4E02, #e14300 100%);
  justify-content: space-around;
  align-items: center;
  padding: 1em 10px;
  gap: 0.5em;
}

.d-elem-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-footer {
  font-size: 1rem;
  color: #fbfafa;
  text-align: center;
}

.icon-footer {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 800px) {
/*FOOTER*/

  .p-footer {
    font-size: 1.3rem;
  }

  .d-elem-footer {
    flex-direction: row;
    gap: 0.5em;
  }

}