/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #FB4E02, #e14300 100%);
  padding: 1em 10px;
  justify-content: space-between;
}

.d-footer-icons {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, #FB4E02, #e14300 100%);
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}

.footer-rights {
  color: #fbfafa;
}

.footer-rights p {
  margin: 0;
}

.d-elem-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-footer {
  font-size: 1rem;
  color: #fbfafa;
  text-align: center;
  max-width: 120px;
  margin: 0.5em 0 0 0;
}

.icon-footer {
  height: 30px;
  width: 30px;
}

.middle-sec-footer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 1.5em;
}

/*MAP*/

.map-container {
  width: 100%;
  aspect-ratio: 4 / 3; 
  border-radius: 8px;
  max-height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

/*AREAS*/

.areas-footer {
  color: #fbfafa;
}

.areas-footer h3 {
  font-size: 1.5rem;
}

.areas-footer h4 {
  font-size: 1.4rem;
}

.areas-footer ul {
  padding-left: 1.2em;
}

.areas-footer ul li {
  font-size: 1.2rem;
}

.areas-footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
}

/*MEDIA*/

.media-footer {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  margin-bottom: 1em;
}

.a-media-footer {
  background-color: #011337;
  padding: 0.5em;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.a-media-footer:hover {
 transform: scale(1.3);
}

.i-media-footer {
  color: #fbfafa;
  font-size: 1.4em;
}

@media screen and (min-width: 800px) {
/*FOOTER*/

  .d-footer-icons {
    margin-top: 0.5em;
  }

  .footer-rights p {
    font-size: 1.1rem;
  }

  .p-footer {
    font-size: 1.3rem;
    margin: 0;
    max-width: 400px;
  }

  .d-elem-footer {
    flex-direction: row;
    gap: 0.5em;
  }

  .middle-sec-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
    gap: 2.2em;
  }

  /*MAP*/
  .map-container {
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    margin: 1em 0;
    width: 60%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .media-footer {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 100px;
  }

  .i-media-footer {
    font-size: 1.6em;
  }

}

@media (min-width: 1024px) {
  .map-container {
    max-width: 800px;
  }
}