/*HEADER*/

.logo {
  width: 110px;
  height: 100px;
  cursor: pointer;
  margin-left: 1em;
}

.menu-bars {
  height: 34px;
  width: 34px;
  margin-right: 1em;
  color: #FB4E02;
  cursor: pointer;
  transition: transform 0.3s;
}

.is-active {
  transform: rotate(-90deg);
}

.header {
  position: relative;
  display: flex;
  background-color: #fbfafa;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: absolute;
  background-color: #fbfafa;
  width: 80%;
  top: 100%;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 100;
}

.list_menu_links {
  list-style: none;
  padding: 0;
}

.a_menu_links {
  color: #FB4E02;
  display: block;
  width: 100%;
  padding: 1em 0 1em 0;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.i-social {
  color: #FB4E02;
  transition: all 0.3s;
  font-size: 1.6rem;
}

.a_menu_links:hover {
  background-color: #FB4E02;
  color: #fbfafa;
}

.a_menu_links:hover .i-social {
  color: #fbfafa;
}

.menu-open {
  transform: translateX(0);
}

@media screen and (min-width: 800px) {

  .menu-bars {
    display: none;
  }

  .navbar {
    position: static;
    margin-right: 2em;
    width: auto;           
    height: auto;          
    transform: translateX(0); 
    transition: none;
    background-color: #fbfafa;
  }

  .list_menu_links {
    display: flex;
    gap: 1em;
    flex-direction: row;
    margin: 0;
  }

  .a_menu_links {
    font-size: 1.2rem;
    padding: 2em 0.5em;
  }

  .i-social {
    font-size: 1.4rem;
  }

  .a_menu_links:hover, .a_menu_links:hover .i-social {
    color: #fbfafa;
  }

}