.main-s {
    background-color: #011337;
    color: #fbfafa;
}

.main-s h2 {
    color: #fbfafa;
}

.subtitle_service {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #fbfafa;
    padding: 0 0.6em;
}

.subtitle2_service {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #fbfafa;
    padding: 0 0.6em;
    margin-bottom: 2em;
}

.div-servicess {
    display: grid;
    gap: 2em;
    margin: 1em;
}

@media screen and (min-width: 800px) {

    .subtitle_service {
        font-size: 1.8rem;
    }

    .subtitle2_service {
        max-width: 750px;
        font-size: 1.4rem;
        margin: auto;
    }
    
    .div-servicess {
        grid-template-columns: repeat(3, 1fr);
        width: calc(100% - 6em);
        margin: 3em;
    }

}