/*MAIN*/

.div_main {
  display: grid;
}

section {
  padding: 0 1em 0 1em;
}

/*SECCION 1*/

.section1_main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #ffffffc2, #ffffff17 140%), url('../assets/img_main.png');
  background-size: cover;
  background-position: right 40% bottom;
  background-repeat: no-repeat;
}

.p-contact {
  font-size: 1.3rem;
  font-weight: 500;
  color: #011337;
}

.title_main {
  font-size: 2rem;
  margin: 0.5em 0 0 0;
  color: #011337;
}

.secondary-t {
  text-align: center;
  padding: 0 0.5em;
}

.subtitle_main {
  margin: 0.4em 0 0.6em 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #011337;
}

.subtitle_main, .p-contact {
  font-size: 1.2rem;
}

.p-contact {
  margin: 0.5em 0;
}

#aux-p {
  max-width: 100%;
  padding: 0 0.5em;
  text-align: center;
}

.aux {
  margin-bottom: 1em;
}

/*SECCION 2*/

.section2_main ul, .section5_main ul {
  text-align: center;
  list-style: none;
  width: 90%;
  margin: auto;
  padding: 0;
}

.section2_main {
  padding: 1em 0;
  background-color: #FB4E02;
}

.section2_main h2,.section2_main ul li p, .section2_main .p-subtext {
  color: #fbfafa;
}

.p-subtext {
  color: #011337;
  font-size: 1.2rem;
  margin: 2em 0 1em 1em;
}

/*SECCION 3*/

.section3_main {
  padding: 1em 0 0 0;
}

.div-services {
  margin: 2em auto 2em auto;
  width: 90%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elem-service {
  width: 85%;
  gap: 20px;
  display: flex;
  align-items: center;
}

.elem-p, .elem-p-service {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: #011337;
}

/*SECCION 5*/

.section5_main {
  background-color: #011337;
  padding: 1em;
}

.section5_main h3, .section5_main ul li p {
  color: #fbfafa;
}

.subtitle-sec5 {
  margin-top: 2em;
  font-size: 1.3rem;
  font-weight: 500;
}

.div-p-sec5 {
  color: #fbfafa;
}

.p-sec5 {
  font-size: 1.2rem;
}

/*SECCION 6*/

.section6_main {
  padding: 1em;
}

.d-sec6 {
  color: #011337;
  margin-top: 2em;
}

@media screen and (min-width: 800px) {

    .section1_main {
        background-image: linear-gradient(to right, #ffffffef, #ffffff00 100%), url('../assets/img_main.png');
        background-position: center;
    }

    .section1_main div {
        display: flex;
        flex-direction: column;
    }

    .main-t {
        max-width: 800px;
        font-size: 2.8rem;
        word-break: break-word;
    }

    .title_main {
      font-size: 2.5rem;
    }

    .subtitle_main {
        max-width: 700px;
        font-size: 1.6rem;
        margin: 0 0 0.5em 0;
    }

    .p-contact {
        font-size: 1.6rem;
    }

    .elem-p {
        font-size: 1.3rem;
        text-align: start;
    }

    .elem-p-service {
        font-size: 1.3rem;
        text-align: center;
    }

    /*SECCION 2*/

    .section2_main ul, .section5_main ul {
        width: 550px;
        margin: auto;
    }

    /*SECTION 3*/

    .div-services {
        flex-direction: row;
        width: 100%;
        margin: 3em 0 1em 0;
    }

    .elem-service {
        flex-direction: column;
        gap: 0;
    }

    /*SECCION 5*/

    .div-p-sec5 {
        width: 550px;
        margin: auto;
    }

    /*SECCION 6*/

    #last-title {
        width: 70%;
        margin: 0.5em auto 1em auto;
    }

    .d-sec6 {
        width: 70%;
        margin: auto;
    }

}